/*autoprefixer grid: autoplace */
.App {
  text-align: center; 
}

.pushback{
  z-index: -1;
}


/*Background Component*/
.wallpaper{
  position:fixed;   
  left:0;
  top:0;     
  width: 100vw;
  height:100vh;    
}

/*Greeting Component*/
.greeting{  
  display: flex;
  align-items: center;
  padding: 50px 15px;
  position: absolute;
  left: 5rem;  
  top: 0;
  bottom: 0;
  overflow: auto; 
}

.dcs{
  width: 15em;
  text-shadow: rgb(0, 0, 0) 5px 5px 5px; 
  color: rgb(255, 255, 255); 
  line-height: 2em;
  font-size: 2.8rem;
  letter-spacing: .25em;
  font-family:'Gayathri', sans-serif;

}
/*Grid Menu*/

@keyframes rotate{
  0%{
    transform: rotateY(0deg);
  }
  100%{
    transform: rotateY(360deg);
  }
}
.grid-menu{ 
  display:flex;  
  position:absolute;
  align-items: center;
  top:15rem;
  bottom:0;
  left:45rem;
  width: 25em;
  height: 25em;
}

.cell-container{  
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}


.cell{  
  border: solid 3px white;
  width: 10em;
  height: 10em;
  margin:1em;
  padding: 1.5em;
  color: white;
  background-color: rgba(105, 105, 105, 0.363);
  animation:rotate 3s 1;
}

.cell:hover{
  transform: scale(1.5);
  background-color: dimgrey;
  cursor: pointer;
}


/*Mobile devices*/
@media only screen and (max-width:600px){
  .greeting{  
    display: flex;    
    padding:0;
    position:relative;
    top: 0;
    left:2em;
    transform: scale(.75);
     
  }
   .dcs{
     font-size: 1.5em;     
   }
   .grid-menu{   
    display:flex;  
    position:fixed;
    align-content: center;
    padding:.25em;
    left:0;
    top: 10em;
    transform: scale(.75);
  }
  .cell{      
    margin:1em;
    padding: 0;
    padding-top: 2em;
    color: white;
   
  }
}


